*.err
*.out
*.pth
*.npy
datasets/
env_files/
cache/
.ipynb_checkpoints/
na_mod_embeds/
nat_mod_embeds/
not_needed/
cache/
code/.ipynb_checkpoints/
code/__pycache__/
code/CBraMod/
code/EEG-To-Text/
code/eeg_encoding/
code/LaBraM/
code/old_clustering_codes/
code/old_codes/
